// custom stuff

.responsive {
  max-width: 100%;
  height: auto;
  width: auto; /* ie8 */
}

// div {
//   width:80vw;
//   // height:80vh;
// }

.thumbnail {
  position: relative;
  width: 300px;
  height: 300px;
  overflow: hidden;
}
.thumbnail img {
  // object-fit: none; /* Do not scale the image */
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}
