// custom stuff

// .responsive {
//   max-width: 100%;
//   height: auto;
//   width: auto\9; /* ie8 */
// }

img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}

// div {
//   width:80vw;
//   // height:80vh;
// }

.thumbnail {
  position: relative;
  // width: 300px;
  // height: 300px;
  overflow: hidden;
}
.thumbnail img {
  // object-fit: none; /* Do not scale the image */
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: auto;
  object-fit: cover;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail img.portrait {
  width: 100%;
  height: auto;
}

.thumbnail_small {
  position: relative;
  // width: auto;
  // height: auto;
  overflow: hidden;
}
.thumbnail_small img {
  // object-fit: none; /* Do not scale the image */
  position: absolute;
  left: 50%;
  top: 50%;
  height: 100%;
  width: 50%;
  object-fit: cover;
  -webkit-transform: translate(-50%,-50%);
      -ms-transform: translate(-50%,-50%);
          transform: translate(-50%,-50%);
}
.thumbnail_small img.portrait {
  width: 100%;
  height: auto;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.twoColumn {
  float: left;
  width: 50%;
  padding: 5px;
}

/* Three image containers (use 25% for four, and 50% for two, etc) */
.fourColumn {
  float: left;
  width: 25%;
  padding: 5px;
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.column {
  float: left;
  width: 50%;
}
